*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*police d'ecriture */
@font-face {
    font-family: "KashimaDemo";
    src: url("../font/KashimaDemo.otf") format("opentype");

}

body{
    background-color: #272a51;
}
/*titre de la page */
h1 {
    display: flex;
    justify-content: center;
    font-family: "KashimaDemo";
    font-size: 70px;
    color: white;
    background-color: #1c1d2d;

}
/*image arriere plan */
#banniere{
    /*background-image: url("assets/img/banni.jpeg");*/
    background-image: url("assets/img/background.png");
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 48vh;
    width: 100%;
    background-image: url("../img/background.png") ;
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;

}
/*menu de connexion*/
section{
    background-color: #1c1d2d;
    height: 70vh;
}

#titre_connexion{
    font-family: "KashimaDemo";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    background-color: #1c1d2d;
}

#champ_connexion{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.bouton_connection{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    width: 40%;
}
.bouton_connection:active{
    transform: scale(0.8);
}

#champ_connexion a{
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-bottom: 2px solid white;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
#validation_connexion{
    font-size: 20px;
   width: 15%;
    background-color: #acacff;
}

h2{
    font-family: "KashimaDemo";
}



/* fenetre modal*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal_content {
    font-family: "Poppins", sans-serif;

    border-radius: 6px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modal_close {
    position: relative;
    background-color: #ec2323;
    width: 24px;
    padding: 7px;
    bottom: 370px;
    left: 237px;
}

.modal .titleheader{
    width: 98%;
    height: 45px;
    padding-top: 12px;


    text-align: center;
    background-color: #49545a;
    border-radius: 15px;

}
.modal p{
    max-width: 300px;
}
.modal input{
    width: 50%;
    height: 45px;
    margin-top: 30px;
    border-radius: 15px;
}
.boutonemail{
    background-color: #ffffff;
    padding: 20px;
}
.boutonconfirmer{
    background-color: #acacff;

}
.boutonconfirmer:active{
    transform: scale(0.8);

}






/*retour en haut de la page*/
html{
  scroll-behavior: smooth;
}
#retour_haut_page{
    display: flex;
    justify-content: center;
    background-color: #272a51;
}

#texte_haut_page:active{
    transform: scale(0.8);

}
#texte_haut_page{
    border: 3px solid #4AA3A2;
    color: #4AA3A2;
    font-family: "Bradley Hand", cursive;
    border-radius: 25px;
    padding: 10px;
    background-color: #A7E0E0;
    text-decoration:none;
}

/*mobile*/
@media screen and (max-width: 1024px) {
    header{
        height: 26vh;
    }

    .titre h1{
        font-size: 80px;
    }
    .titre_connexion{
        font-size: 20px;
    }
    .bouton_connection{
        width: 90%;
    }
    #validation_connexion{
        width: 30%;
    }
}
@media  screen and (max-width: 768px) {
    header{
        height: 34vh;
    }

    .titre h1{
        font-size: 50px;
    }
    .titre_connexion{
        font-size: 20px;
    }
    .bouton_connection{
        width: 90%;
    }
    #validation_connexion{
        width: 30%;
    }

}

@media screen and (max-width: 480px){
    body{
        height: 100%;
    }
    header{
        height: 18vh;
    }
    .titre h1{
        font-size: 50px;
    }
    #titre_connexion{
        font-size: 20px;
    }
    .bouton_connection{
        width: 90%;
    }
    #validation_connexion{
        width: 45%;
    }


}
