*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: "KashimaDemo";
    src: url("../font/KashimaDemo.otf") format("opentype");

}

img{
    max-width: 163px;
}

body{
    background-color: #1c1d2d;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 48vh;
    width: 100%;
    background-image: url("../img/background.png") ;
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;

}
/*titre*/
.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titre h1{
    font-size: 5em;

    margin-bottom: 50px;
    color: white;
}
.titre p{
    margin-top: 5px;
    font-family: "KashimaDemo";
}

/*menu de connexion*/
section, #modif_mdp{
    background-color: #1c1d2d;
    height: 70vh;
}

.titre_modif{
    font-family: "KashimaDemo";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

#champ_modif_email, #champ_modif_mdp{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.imageee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 50px;

}
.imageee img{
    object-fit: cover;

    width: 200px;
    height: 150px;
}
.in{
    display: flex;
   background-color:white ;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px ;
}
.in input {
    font-size: 1em;
    padding: 10px;
}
.imageee #imageChange{
    border-radius: 50%;
}
#imageChange{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.bouton_modif{
    display: flex;
    margin-top: 30px;
    padding: 20px;
    width: 40%;
}
.bouton_connection{
    margin-top: 20px;
    font-size: 30px;
    width: 20%;
}

/*retour en haut de la page*/
html{
    scroll-behavior: smooth;
}

#retour_haut_page{
    display: flex;
    justify-content: center;
    background-color: #272a51;
}
#texte_haut_page{
    border: 3px solid #4AA3A2;
    color: #4AA3A2;
    font-family: "Bradley Hand", cursive;
    border-radius: 25px;
    padding: 10px;
    background-color: #A7E0E0;
    text-decoration:none;
}


/*mobile*/
@media screen and (max-width: 1024px) {
    header{
        height: 13vh;
    }

    .titre h1{
        font-size: 50px;
    }
    .titre_modif{
        font-size: 20px;
    }
    .bouton_modif{
        width: 90%;
    }
    .bouton_connection{
        width: 70%;
    }
}
@media  screen and (max-width: 768px) {
    header{
        height: 13vh;
    }
    .titre h1{
        font-size: 50px;
    }
    .titre_modif{
        font-size: 20px;
    }
    .bouton_modif{
        width: 90%;
    }
    .bouton_connection{
        width: 70%;
    }

}

@media screen and (max-width: 480px){
    body{
        height: 100%;
    }
    header{
        height: 13vh;
    }

    .titre h1{
        font-size: 50px;
    }
    .titre_modif{
        font-size: 20px;
    }
    .bouton_modif{
        width: 90%;
    }
    .bouton_connection{
        width: 70%;
    }
}